.recharts-cartesian-axis-line {
  display: none !important;
}
.recharts-cartesian-grid-horizontal > line:first-of-type,
.recharts-cartesian-grid-horizontal > line:last-of-type {
  display: none !important;
}

.yAxis
  > .recharts-cartesian-axis-ticks
  > .recharts-cartesian-axis-tick:first-of-type,
.yAxis
  > .recharts-cartesian-axis-ticks
  > .recharts-cartesian-axis-tick:last-of-type {
  display: none !important;
}

.dont-show {
  display: none !important;
}
